tensorflow>=2.11.1
keras==2.6.0rc3
imutils==0.5.3
numpy==1.22.2
opencv-python>=4.2.0.32
matplotlib==3.2.1
scipy==1.10.0rc1
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
